<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <form action="/user_input" method="post">
      <textarea name="user_text"></textarea>
      <input type="submit" value="Submit"/>
    </form>
  </body>
</html>
